table{
  width: 100%;
  th.title-buttons    {
    text-align: center;
  }
  td.content-buttons{
    text-align: center;
  }

  button{
    width: auto;
    height: 30px;
    background-color: #4CAF50;
    color: white;
    padding: 4px 20px;
    margin: 0px 15px 0px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}
