<div class="content-create-player" [formGroup]="form">
  <div class="header-content">
    <label *ngIf="player === null "  class="label-title">
      Creación de un Jugador
    </label>

    <label *ngIf="player !== null "  class="label-title">
      Edición de un Jugador
    </label>
  </div>
  <span class="line-border-bottom"></span>
  <div class="content-form">

    <div class="content-image">
      <img width="50px" height="50px" *ngIf="photo===''" src="./../../../../assets/Images/uploadImage.png">
      <img width="50px" height="50px"  *ngIf="photo!==''" src="{{photo}}">
    </div>

    <div>
      <div>
        <label for="namePlayer">Nombre del Jugador:</label>
        <mat-form-field>
          <input matInput formControlName="namePlayer" type="text" id="namePlayer" name="namePlayer" [(ngModel)]="name" placeholder="Nombre">
          <mat-error *ngIf="form.get('namePlayer').hasError('required')">
            Nombre del Jugador Obligatorio
          </mat-error>
        </mat-form-field>

      </div>

      <div>
        <label for="secondname">Apellidos:</label>
        <mat-form-field>
          <input matInput formControlName="secondname" id="secondname" type="text" name="secondname" placeholder="Apellidos" [(ngModel)]="secondname">
        </mat-form-field>
      </div>

      <div>
        <label for="nationality">Nacionalidad:</label>
        <mat-form-field>
          <input matInput formControlName="nationality" id="nationality" type="text" name="nationality" placeholder="Nacionalidad" [(ngModel)]="nationality">
        </mat-form-field>
      </div>

      <div>
        <label for="position">Demarcación:</label>
        <mat-form-field>
          <input  matInput formControlName="position" id="position" type="text" name="position" placeholder="Demarcación" [(ngModel)]="position">
        </mat-form-field>

      </div>

      <div *ngIf="player !== null ">
        <label for="teamName">Equipo Actual</label>
        <mat-form-field>
          <input  matInput formControlName="teamName" [disabled]="true" id= "teamName" type="text" name="teamName" placeholder="Equipo Actual" [(ngModel)]="teamName">
        </mat-form-field>

      </div>

      <div>
        <label for="strengths">Fortalezas</label>
        <mat-form-field>
          <textarea  matInput formControlName="strengths" id="strengths" name="strengths" [(ngModel)]="strengths" class="textarea-create-player">{{strengths}}</textarea>
        </mat-form-field>

      </div>

      <div>
        <label for="weaknesses">Debilidades</label>
        <mat-form-field>
          <textarea  matInput formControlName="weaknesses" id="weaknesses" name ="weaknesses"[(ngModel)]="weaknesses" class="textarea-create-player">{{weaknesses}}</textarea>
        </mat-form-field>

      </div>

    </div>



    <div  class="button-upload">

      <label for="file-upload" class="custom-file-upload">
        Subir Imágen
      </label>
      <input id="file-upload" type="file" (change)="onFileChanged($event)"/>

    </div>

    <div>



      <div>
        <label for="goals">Goles:</label>
        <mat-form-field>
          <input id="goals" matInput formControlName="goals" type="text" name="goals" placeholder="Goles" [(ngModel)]="this.statistics.goals">
          <mat-error *ngIf="form.get('goals').hasError('pattern')">
            Los goles deben de ser un número
          </mat-error>
        </mat-form-field>

      </div>


      <div>
        <label for="titles">Títulos</label>
        <mat-form-field>
          <input matInput formControlName="titles" id= "titles" type="text" name="titles" placeholder="Títulos Conseguidos" [(ngModel)]="this.statistics.titles">
          <mat-error *ngIf="form.get('titles').hasError('pattern')">
            Los titulos deben de ser un número
          </mat-error>
        </mat-form-field>

      </div>

      <div>

        <div>
          <label for="agePlayer">Edad:</label>
          <mat-form-field>
            <input matInput formControlName="agePlayer" type="text" id="agePlayer" name="agePlayer" [(ngModel)]="age" placeholder="Edad">
            <mat-error *ngIf="form.get('agePlayer').hasError('pattern')">
             La edad tiene que ser un número
            </mat-error>
          </mat-form-field>

        </div>

        <div>
          <label for="heightPlayer">Altura (cm):</label>
          <mat-form-field>
            <input matInput formControlName="heightPlayer" id="heightPlayer" type="text" name="heightPlayer" placeholder="Altura" [(ngModel)]="height">
            <mat-error *ngIf="form.get('heightPlayer').hasError('pattern')">
              La altura tiene que ser un número
            </mat-error>
          </mat-form-field>

        </div>

        <div>
          <label for="weightPlayer">Peso (kg):</label>
          <mat-form-field>
            <input matInput formControlName="weightPlayer" id="weightPlayer" type="text" name="weightPlayer" placeholder="Peso" [(ngModel)]="weight">
            <mat-error *ngIf="form.get('weightPlayer').hasError('pattern')">
              El peso tiene que ser un número
            </mat-error>
          </mat-form-field>
        </div>

      </div>

    </div>



    <div  class="footer-buttons">

      <div *ngIf="player === null " class="footer-buttons">
        <button (click)="createPlayer()">Crear Jugador</button>
      </div>
      <div *ngIf="player !== null " class="footer-buttons">
        <button (click)="updatePlayer()">Editar Jugador</button>
      </div>
    </div>

  </div>
</div>







