<div class="content-create-news"  [formGroup]="form">
  <div class="header-content">
    <label *ngIf="newObject === null " class="label-title">
      Creación de una Noticia
    </label>

    <label *ngIf="newObject !== null " class="label-title">
        Edición de una Noticia
    </label>
  </div>
  <span class="line-border-bottom"></span>
  <div class="content-form">

    <div class="content-image">
      <img *ngIf="photo===''" src="./../../../../assets/Images/uploadImage.png">
      <img  *ngIf="photo!==''" src="{{photo}}">
    </div>

    <div>
      <div>
        <label for="titleNews">Título de la noticia:</label>
        <mat-form-field>
          <input matInput formControlName="titleNews" type="text" id="titleNews" name="titleNews" [(ngModel)]="title" placeholder="titulo">
          <mat-error *ngIf="form.get('titleNews').hasError('required')">
           Campo Requerido
          </mat-error>
        </mat-form-field>

      </div>

      <div>
        <label for="subtitleNews">Subtítulo de la Noticia:</label>
        <mat-form-field>
          <input matInput formControlName="subtitleNews" id="subtitleNews" type="text" name="subtitleNews" placeholder="Subtítulo" [(ngModel)]="subtitle">
          <mat-error *ngIf="form.get('subtitleNews').hasError('required')">
            Campo Requerido
          </mat-error>
        </mat-form-field>

      </div>

      <div>
        <label for="textBody">Cuerpo:</label>
        <mat-form-field>
          <input matInput formControlName="textBody" id="textBody" type="text" name="textBody" placeholder="Cuerpo" [(ngModel)]="text">
          <mat-error *ngIf="form.get('textBody').hasError('required')">
            Campo Requerido
          </mat-error>
        </mat-form-field>

      </div>

      <div>
        <label for="reporter">Publicada por:</label>
        <mat-form-field>
          <input matInput formControlName="reporter" id= "reporter" type="text" name="reporter" placeholder="nombre del reportero" [(ngModel)]="reporter">
          <mat-error *ngIf="form.get('reporter').hasError('required')">
            Campo Requerido
          </mat-error>
        </mat-form-field>

      </div>

      <div>
        <label for="date">Fecha Publicación:</label>
        <mat-form-field>
          <input  matInput formControlName="date" id= "date" type="text" name="date" placeholder="Fecha" [(ngModel)]="date">
          <mat-error *ngIf="form.get('date').hasError('required')">
            Campo Requerido
          </mat-error>
          <mat-error *ngIf="form.get('date').hasError('pattern')">
            Tiene que introducir una fecha : Ej: 22-10-2018
          </mat-error>
        </mat-form-field>

      </div>

      <div>
        <label for="reporter">Publicada por:</label>
        <mat-form-field>
          <input  matInput formControlName="link" id= "link" type="text" name="link" placeholder="link" [(ngModel)]="link">
          <mat-error *ngIf="form.get('link').hasError('required')">
            Campo Requerido
          </mat-error>
          <mat-error *ngIf="form.get('link').hasError('pattern')">
           Introduzca una url válida
          </mat-error>
        </mat-form-field>

      </div>

    </div>


    <div  class="button-upload">

      <label for="file-upload" class="custom-file-upload">
        Subir Imágen
      </label>
      <input id="file-upload" type="file" (change)="onFileChanged($event)"/>

    </div>

    <div  class="footer-buttons">

      <div *ngIf="new === '' " class="footer-buttons">
        <button (click)="createNew()">Crear Noticia</button>
      </div>
      <div *ngIf="new !== '' " class="footer-buttons">
        <button (click)="updateNew()">Editar Noticia</button>
      </div>
    </div>

  </div>
</div>







