.content-create-news{
  .header-content{
    padding: 5px 0px 5px 20px;
    width: 90%;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;


    label{
      font-size: 1.4em;
      margin-bottom: 10px;
      border: 0;
      line-height: inherit;
      color: #333;
      display: block;
      width: 100%;
      padding: 0;
    }
  }

  .content-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.2fr;
    grid-row-gap: 10px;
    padding: 20px 5px 20px 5px;
    .content-image {
      display: flex;
      justify-content: center;
      img {
        padding: 100px;
        width: 100%;
        height: 100%;
      }
    }
  }

  .button-upload{
    display: flex;
    justify-content: center;

    input[type="file"] {
      display: none;
    }
    .custom-file-upload {
      width: auto;
      height: 47px;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  }



}
