@import "./../../dashboard/dashaboard-main/dashaboard-main.component";

.content-header{
  width: $headerWidth;
  background: $headerColor;
  float: left;
  height: $headerHeight;
  position: $headerPosition;
  z-index: $headerZindex;

}

.content-sideBar{
  width: $widthSidebar;
  background: $sidebarBackGround;
  float: left;
  height: $sidebarHeight;
  transition: $sidebarTransition;
  position: $sidebarPosition;
  margin-top: $sidebarMarginTop;
}


.content-sideBar.collapse{
  left: $sidebarCollapseLeft;
  margin-right: $sidebarCollapseMartinRight;
}


.content-main{
  width: $contentMainWith;
  background: $contentMainBackground;
  float: $contentMainFloat;
  height: $contentMainHeight;
  transition: $contentMainTransition;
  padding: $contentMainPadding;
  margin-top: $contentMainMarginTop;
  margin-left:$contentMainMarginLeft ;
}


.content-main.collapse{
  width: $contentMainCollapseWidth;
  margin-left: $contentMainCollapseMarginLeft;
  display: $contentMainCollapseDisplay;
}

.content-footer{
  width: $footerWidth;
  background: $footerBackground;
  float: $footerFloat;
  left:$footerLeft;
  bottom:$footerBottom;
  position: $footerPosition;

}
