<div class="content-header">
  <app-dashboard-header (clickOpenCloseSideBar)="openCloseSidebar($event)"></app-dashboard-header>
</div>
<div class="content-sideBar" [ngClass]="{'collapse':stateSidebar}">
  <app-dashboard-sidebar></app-dashboard-sidebar>
</div>
<div class="content-main"  [ngClass]="{'collapse':stateSidebar}">
 <app-news-list *ngIf="viewActive === 'ListNews'"></app-news-list>
<app-news-crud *ngIf="viewActive==='CreateNews'"></app-news-crud>
</div>
<div class="content-footer">
  <app-footer></app-footer>
</div>
