<div class="content-create-team">
  <div class="header-content">
    <label class="label-title">
      Creación de un equipo
    </label>
  </div>
  <span class="line-border-bottom"></span>
  <div class="content-form">


      <div class="content-image">
        <img *ngIf="photo===''" src="./../../../../assets/Images/uploadImage.png">
        <img  *ngIf="photo!==''" src="{{photo}}">
      </div>
      <div>
        <div>
          <label for="nameTeam">Nombre del Equipo:</label>
          <input type="text" id="nameTeam" name="nanameTeamme" [(ngModel)]="nameTeam" placeholder="nameTeam">
        </div>

        <div>
          <label for="stadium">Estadio:</label>
          <input id="stadium" type="text" name="stadium" placeholder="stadium" [(ngModel)]="stadium">
        </div>

        <div>
          <label for="coach">Entrenador:</label>
          <input id="coach" type="text" name="coach" placeholder="Coach" [(ngModel)]="coach">
        </div>


        <div>
          <label for="president">Presidente</label>
          <input id= "president" type="text" name="president" placeholder="President" [(ngModel)]="president">
        </div>

      </div>
      <div  class="button-upload">

        <label for="file-upload" class="custom-file-upload">
          Subir Imágen
        </label>
        <input id="file-upload" type="file" (change)="onFileChanged($event)"/>

      </div>

      <div>
        <div>

          <span class="line-border-bottom-history">

            <label class="label-history">Historial:</label>
          </span>
        </div>

        <div class="line-history">

        </div>



        <div>
          <label for="goals">Goles:</label>
          <input id= "goals" type="text" name="goals" placeholder="Goles" [(ngModel)]="history.goals">
        </div>

        <div>
          <label for="titles">Títulos:</label>
          <input id= "titles" type="text" name="titles" placeholder="Títulos" [(ngModel)]="history.titles">
        </div>

      </div>

      <div  class="footer-buttons">

        <div *ngIf="team === '' " class="footer-buttons">
          <button (click)="createTeam()">Crear Equipo</button>
        </div>
        <div *ngIf="team !== '' " class="footer-buttons">
          <button (click)="editTeam()">Editar Equipo</button>
        </div>
      </div>

  </div>
</div>






