.sidebar{
  background: #333333;
  position: fixed;
  margin-left: 10px;
  ul {
    list-style-type: none;
    li{
      cursor: pointer;
    }
  }
  .nav-title{
    color: #fff;
  }
  .nav-item{

    margin: 0;
    transition: background .3s ease-in-out;
    color: #fff;
    .nav-link{
      display: block;
      padding: .75rem 1rem;
      color: #fff;
      text-decoration: none;
      background: 0 0;
    }
  }
}
